<h3>Votre inscription à E-corp.com est presque terminée !</h3>

<p>Pour valider votre email et ainsi pouvoir proceder à vos achats, cliquez sur le lien suivant :</p>

<a href="http://localhost:3000/confirm-user/{{ token }}">Valider mon inscription</a>